/* 
Accent color -  #2196F3
Main white - #FFFFFF
Secondary text color - #757575
Title color - #212121;

Background color  - #2F303A; 
Section background -  #F5F4FA;
Logo color - #000000
Address color - rgba(255, 255, 255, 0.60);
*/

:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --sec-text-color: #757575;
  --title-color: #212121;
  --bg-color: #2f303a;
  --sc-bg-color: #f5f4fa;
  --logo-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--title-color);
  font-size: 14px;
  font-family: Roboto;

  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h6,
h5,
h4,
h3,
h2,
h1,
p,
span {
  margin: 0;
}

figure {
  margin: 0;
}

/* Container */

.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px dashed tomato; */
}

/* Sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.projects {
  padding-top: 94px;
}

/* Page header */

.page-header {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .site-nav {
  display: flex;
}

.site-nav .item:not(:last-child),
.contact .link:not(:last-child) {
  margin-right: 50px;
}

.page-header .contact {
  margin-left: auto;
}

/* Logo */

.logo {
  margin-right: 93px;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
}

.logo.primary {
  color: var(--logo-color);
}

.logo > span {
  color: var(--accent-color);
}

.logo.secondary {
  color: var(--white-color);
}

/* Site navigation */

.site-nav .link {
  display: block;
  padding: 32px 0px;

  font-weight: 500;
  line-height: 1.17;
}
/* 
.site-nav .link:hover,
.site-nav .link:focus,
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
} */

.link:visited {
  color: var(--title-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--bg-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--white-color);

  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */

  text-transform: uppercase;
}

/* Button */

.button {
  display: inline-block;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88; /* 187.5% */
}

.button.filter {
  padding: 6px 22px;

  color: var(--title-color);
  font-weight: 500;
  line-height: 1.62;

  background-color: var(--sc-bg-color);
  border-radius: 4px;

  cursor: pointer;
}

.button.primary {
  padding: 10px 32px;

  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button.filter:hover,
.button.filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Company  traits */

.section-title {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.traits {
  display: flex;
}
.traits .trait {
  min-width: calc((100% - 90px) / 4);
}

.traits > .trait:not(:last-child) {
  margin-right: 30px;
}

.trait .title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
}

.trait .text {
  color: var(--sec-text-color);

  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}

.trait a {
  cursor: pointer;
}

/* Our team */

section.team {
  background-color: var(--sc-bg-color);
}

.members {
  display: flex;

  text-align: center;
}

.description {
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
}

.members .member {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}

.members .member:not(:last-child) {
  margin-right: 30px;
}

.description > .name {
  margin-bottom: 10px;

  font-size: inherit;
  font-weight: 500;
}

.description > .position {
  color: var(--sec-text-color);

  font-size: inherit;
  font-weight: 400;
}

/* Footer */

footer {
  background-color: var(--bg-color);
}

.page-footer .address {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.address .item {
  font-style: normal;
}

.address .item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer .link {
  /* display: block; */

  color: var(--address-color);

  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}

footer .logo {
  margin-right: 0;

  font-style: normal;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .logo {
  display: inline-block;

  margin-bottom: 20px;
}

/* Portfolio.hmtl */

/* Products */

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.products .product {
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);

  /* border: 1px solid #eee; */
}

.product .image {
  display: block;
}

.product .text {
  padding: 20px 24px;

  min-width: 370px;

  border: 1px solid #eee;

  border-top-width: 0px;
  border-top-style: none;
}

.product .title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
}

.product .type {
  color: var(--sec-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
}

/* Filters */

.filters {
  display: flex;

  justify-content: center;
  margin-bottom: 56px;
}

.filters .item:not(:last-child) {
  margin-right: 8px;
}
