/* 
Accent color -  #2196F3
Main white - #FFFFFF
Secondary text color - #757575
Title color - #212121;

Background color  - #2F303A; 
Section background -  #F5F4FA;
Logo color - #000000
Address color - rgba(255, 255, 255, 0.60);
*/

:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --sec-text-color: #757575;
  --title-color: #212121;
  --bg-color: #2f303a;
  --sc-bg-color: #f5f4fa;
  --logo-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
  --social-icon: #afb1b8;
}

body {
  color: var(--title-color);
  font-size: 14px;
  font-family: Roboto;

  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h6,
h5,
h4,
h3,
h2,
h1,
p,
span {
  margin: 0;
}

/* Container */

.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px dashed tomato; */
}

/* Sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.projects {
  padding-top: 94px;
}

/* Page header */

.page-header {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .site-nav {
  display: flex;
}

.contact {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:last-child),
.contact .item:not(:last-child) {
  margin-right: 50px;
}

.page-header .contact {
  margin-left: auto;
}

/* Logo */

.logo {
  margin-right: 93px;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.78px;
}

.logo.primary {
  color: var(--logo-color);
}

.logo > span {
  color: var(--accent-color);
}

.logo.secondary {
  color: var(--white-color);
}

/* Site navigation */

.site-nav .link {
  display: block;
  padding: 32px 0px;

  color: inherit;

  font-weight: 500;
  line-height: 1.16;
}

.contact .link {
  color: var(--sec-text-color);

  font-weight: 500;
  line-height: 1.16;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.contact {
  display: flex;
  justify-content: center;
}

.contact .icon {
  vertical-align: middle;
  margin-right: 10px;
}

.contact .link {
  fill: var(--sec-text-color);
}

.contact .link:hover {
  fill: var(--accent-color);
}

/* 

--- Using ::before pseudoelement for icons ---

.contact > .link::before {
  content: '';
  display: inline-flex;

  width: 20px;
  height: 20px;

  align-self: baseline;

  margin-right: 10px;

  background-position: bottom;
  background-repeat: no-repeat;
  background-position: bottom;
}

.icon-envelope::before {
  background-image: url(/images/icons/envelope.svg);
}

.icon-mobile::before {
  background-image: url(/images/icons/smartphone.svg);
} */

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  text-align: center;

  min-width: 1600px;
  min-height: 600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(/images/hero-img-bg.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--white-color);

  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */

  text-transform: uppercase;
}

/* Button */

.button {
  display: inline-block;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88; /* 187.5% */
}

.button.filter {
  padding: 6px 22px;

  color: var(--title-color);
  font-weight: 500;
  line-height: 1.62;

  background-color: var(--sc-bg-color);
  border-radius: 4px;

  cursor: pointer;
}

.button.primary {
  padding: 10px 32px;

  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button.filter:hover,
.button.filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Company  traits */

.section-title {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.traits,
.features {
  display: flex;
}
.traits > .trait,
.features > .feature {
  min-width: calc((100% - 90px) / 4);
}

.trait .thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  width: 270px;
  height: 120px;

  background-color: var(--sc-bg-color);
  border-radius: 4px;
}

.icon-trait {
  width: 70px;
  height: 70px;
}

/* .traits .trait::before {
  content: '';

  display: block;

  height: 120px;
  width: 270px;

  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--sc-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
} */

/* .icon-antenna::before {
  background-image: url(/images/icons/antenna.svg);
}

.icon-astronaut::before {
  background-image: url(/images/icons/astronaut.svg);
}

.icon-clock::before {
  background-image: url(/images/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(/images/icons/diagram.svg);
} */

.traits > .trait:not(:last-child),
.features > .feature:not(:last-child) {
  margin-right: 30px;
}

.trait > .title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
}

.trait > .text {
  color: var(--sec-text-color);

  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}

/* .trait a {
  cursor: pointer;
} */

/* Our team */

section.team {
  background-color: var(--sc-bg-color);
}

.members {
  display: flex;

  text-align: center;
}

.description {
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
}

.member-img {
  display: block;
}

.members > .member {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.members .member:not(:last-child) {
  margin-right: 30px;
}

.description > .name {
  margin-bottom: 10px;

  font-size: inherit;
  font-weight: 500;
}

.description > .position {
  margin-bottom: 16px;

  color: var(--sec-text-color);

  font-size: inherit;
  font-weight: 400;
}

/* Social icons */

.social {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.social .item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  height: 44px;
  width: 44px;

  border-radius: 50%;

  fill: var(--social-icon);
}

.social-link .icon {
  width: 20px;
  height: 20px;
}

.social-link.footer-link {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link.footer-link:hover {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

/* 
.social-link::before {
  content: '';

  display: inline-block;

  width: 44px;
  height: 44px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 50%;

  outline: 2px solid tomato;
}

.icon-instagram::before {
  background-image: url(/images/icons/instagram.svg);
}

.icon-facebook::before {
  background-image: url(/images/icons/facebook.svg);
}

.icon-twitter::before {
  background-image: url(/images/icons/twitter.svg);
}

.icon-linkedin::before {
  background-image: url(/images/icons/linkedin.svg);
} */

/* Clients */

.regular {
  text-align: center;
}

.clients {
  display: flex;
  justify-content: center;
}

.clients .client-logo:not(:last-child) {
  margin-right: 30px;
}

.client-logo .logo-thumb {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border-radius: 4px;
  border: 1px solid #afb1b8;

  fill: var(--social-icon);

  cursor: pointer;
}

.client-logo .logo-thumb:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
}

/* Footer */

footer {
  background-color: var(--bg-color);
}

.page-footer .address {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.address .item {
  font-style: normal;
}

.address .item:not(:last-child) {
  margin-bottom: 9px;
}

.address .link:hover {
  color: var(--accent-color);
}

.page-footer .link {
  /* display: block; */

  color: var(--address-color);

  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}

footer .logo {
  margin-right: 0;

  font-style: normal;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  margin-right: 70px;
}

.page-footer .logo {
  display: inline-block;

  margin-bottom: 20px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

/* Join us */

.join > .text {
  margin-bottom: 20px;

  color: var(--white-color);
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* Portfolio.hmtl */

/* Products */

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.products > .product {
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);

  /* border: 1px solid #eee; */
}

.products > .product:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.product .image {
  display: block;
}

.product .text {
  padding: 20px 24px;

  min-width: 370px;

  border: 1px solid #eee;

  border-top-width: 0px;
  border-top-style: none;
}

.product .title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
}

.product .type {
  color: var(--sec-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
}

/* Filters */

.filters {
  display: flex;

  justify-content: center;
  margin-bottom: 56px;
}

.filters .item:not(:last-child) {
  margin-right: 8px;
}

.filters .filter {
  border-color: transparent;
}

.filters .filter:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
